.about {
  width: 100%;
}

.about-header {
  display: flex;
  height: 42vh;
  font-family: 'DM Serif Display';
  background-repeat: no-repeat;
  background-image: url('../../Assets/Pictures/Projekt2/2.png');
  margin-bottom: 2%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.about-header > h1 {
  width: 30vmin;
  padding: 2vmin 3vmin 0.5vmin 3vmin;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  align-self: flex-end;
  text-align: center;
  margin: 0 auto;
  color: #292f36;
}

/* about concept */
.about-concept {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}
.con {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% auto;
}

.c-text {
  width: 40%;
  margin: 0% 5%;
}

.c-text > p {
  font-family: 'Jost';
  color: #4d5053;
}

.c-text > h1 {
  font-family: 'Dm Serif Display';
  color: #292f36;
}

.c-text > button {
  width: 30vmin;
  padding: 5% 0%;
  margin-top: 8%;
  margin-bottom: 2%;
  border-radius: 10px;
  border: none;
  background-color: #292f36;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost';
  transition: all 0.3s ease-in-out;
}
.c-text > button:hover {
  background-color: #cda274;
}
.c-text > button:hover > * {
  color: var(--dark) !important;
}

.concept-img {
  display: block;
  object-fit: cover;
  width: 50%;
}

.concept-img > img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 100%;
  border-radius: 40px;
}
