.contact {
  width: 100%;
}

.contact-header {
  display: flex;
  height: 42vh;
  font-family: 'DM Serif Display';
  background-repeat: no-repeat;
  background-image: url('../../Assets/Pictures/Projekt7/1.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.contact-header > h1 {
  width: 50vmin;
  padding: 2% 3% 0.5% 3%;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  align-self: flex-end;
  text-align: center;
  margin: 0 auto;
  color: #292f36;
}

.contact-header > h1 > p {
  color: #4d5053;
  font-size: 14px;
  font-family: Jost;
}

.contact-content {
  align-items: center;
  width: 90%;
  display: flex;
  gap: 5%;
  margin: 0 auto;
  margin-top: 3%;
}

.contact-form {
  display: flex;
  width: 100%;
}

.contact-form-info {
  background-color: #f4f0ec;
  border-radius: 30px;
  padding: 5% 0%;
  height: 50%;
  width: 100%;
  margin: 0 auto;
}

.contact-form-info > div {
  text-align: center;
}

.contact-form-info > .icons > p {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-bottom: 5%;
}
.contact-form-info > .icons > p > a {
  color: var(--dark);
}

.icon {
  border: 1px solid white;
  color: #cda274;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.contact-smedias {
  display: flex;
  justify-content: center;
}

.contact-smedias > ul {
  display: flex;
  padding: 0;
  column-gap: 10vmin;
}

.contact-smedias > ul > li {
  list-style-type: none;
}
.contact-smedias > ul > li > a {
  font-size: larger;
  padding: 1vmin;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.contact-smedias > ul > li:hover > a {
  background: var(--dark) !important;
  color: white !important;
}

.map {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 4% 0%;
}

iframe {
  border-radius: 20px;
}
/* PHONE VERISON OF CONTACT */
@media screen and (max-width: 1000px) {
  .contact-header {
    background-attachment: unset !important;
  }
  .contact-form-info > .icons > p > a {
    font-size: larger;
  }
}
