.home {
  width: 100vw;
  margin: 0;
}
.homeNews {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 25%;
  position: relative;
  margin-bottom: 5%;
}

.homeNews > .featureContentCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeNews > .featureContentCont > h1 {
  font-size: 8vmin;
  font-family: 'Times New Roman', Times, serif;

  font-weight: 500;
  margin: 0;
  color: white;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3);
  filter: saturate(30%);
}
.homeNews::after {
  content: '';
  background: inherit;
  position: absolute;
  top: 38vmin;
  left: 0;
  width: 100%;
  height: 5%;
  z-index: 20;
}
.homeNews > .featureContentCont > h2 {
  background-color: #727475c6;
  outline: 10px solid #727475c6;
  border-radius: 3px;
  border: 5px solid rgb(238, 175, 124);
  color: rgb(238, 175, 124);
  padding: 0.5vmin 10vmin;
  font-size: 25vmin;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}
.homeNews > .featureContentCont > h2 > span {
  z-index: 29;
  font-size: 8vmin;
  position: absolute;
  top: 36vmin;
  left: 0;
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  filter: saturate(60%);
  font-family: Sacramento;
  font-weight: 500;
  width: 100%;
  margin: 0;
}

.homeNews > .featureContentCont > a > button {
  width: 25vmin;
  padding: 1vmin 2vmin;
  border: none;
  border-radius: 10px;
  font-size: large;
  font-family: 'Jost';
  background-color: #292f36;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.homeNews > .featureContentCont > a > button:hover {
  background: #cda274;
}
.homeNews > .featureContentCont > a > button:hover > * {
  transition: all 0.3s ease-in-out;
  color: white !important;
}
.homeOther {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HOME PLANS */
.homePlans {
  font-family: 'Jost';
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  font-size: 1.2em;
}
.serviceContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
  overflow: hidden;
  max-height: 21vmin;
}
.homePlan {
  text-align: center;
  margin: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePlan > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePlan > a > button {
  margin: 5% 0;
  font-size: 0.9em;
  width: 20vmin;
  padding: 4% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  cursor: pointer;
}

/* HOME PROJECTS */
.homeAboutUs {
  width: 100%;
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
}

.homeAboutUs > .hp-subtext {
  width: 50%;
}

.homeAboutUs > .hp-subtext > h1 {
  width: 70%;
}

.homeAboutUs > .hp-subtext > p {
  width: 86%;
}

.hp-img {
  width: 90%;
  border-top-right-radius: 50vmin;
  border-bottom-left-radius: 10vmin;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* CALL US */
.callUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 10% 0;
}

.callUs > .linkAbout {
  width: 100%;
  display: flex;
}

.callUs > a > button {
  width: 100%;
  padding: 1vmin;
  margin-top: 2vmin;
  border: none;
  margin-right: 10%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292f36;
  color: white;
  cursor: pointer;
}

/* PEOPLE THOUGHTS */
.people-thoughts {
  width: 94%;
  padding: 5% 3% 7% 3%;
  background-color: #f4f0ec;
  text-align: center;
  border-radius: 35px;
}

.people-thoughts > h1 {
  margin: 3% auto;
  width: 40%;
}

.people {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.person {
  display: flex;
  flex-direction: column;
  width: 26%;
  text-align: start;
  padding: 3%;
  background-color: white;
  border-radius: 20px;
}

.person-title {
  width: 100%;
  display: flex;
  align-items: center;
}

.person-title > div {
  object-fit: cover;
  width: 27%;
  margin-right: 5%;
  display: block;
}
.person-title > div > img {
  width: 100%;
  border-radius: 50%;
  display: block;
}
@media screen and (max-width: 1000px) {
  .person-title > div > img {
    display: none;
  }
  .person-title > div {
    display: none;
  }
  .people {
    flex-direction: column;
  }
  .person {
    width: 100%;
    margin-bottom: 3vmin;
  }
}

.person-title > p {
  font-family: 'Dm Serif Display';
  font-size: 17px;
  width: 100%;
}

.person-title > p > span {
  font-family: 'Jost';
  font-size: 14px;
  color: #4d5053;
}

.thought {
  font-family: 'Jost';
  color: #4d5053;
  font-size: 15px;
}

/* HOME PROJECTS */
.homeProjects {
  width: 100%;
  text-align: center;
}

.homeProjects > h1 {
  margin: 0;
}

.homeProjects > p {
  width: 70%;
  margin: 3% auto;
}

.hp-list {
  margin: 5% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hp-project {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 3% 0;
}

.hp-pro-img {
  width: 100%;
  object-fit: cover;
}

.hp-pro-img > img {
  border-radius: 30px;
  width: 100%;
}

.hp-pro-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hp-pro-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}

.hp-prj-title {
  font-family: 'Dm Serif Display';
  font-size: 18px;
  margin: 8% 0 4% 0;
  width: 100%;
  color: #292f36;
}

.hp-prj-path {
  width: 100%;
  font-size: 14px;
  color: #4d5053;
  font-family: 'Jost';
  margin: 0;
}

.hp-pro-btn {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-pro-btn > a {
  width: 80%;
  display: flex;
}

.hp-pro-btn > a > button {
  width: 90%;
  border-radius: 50%;
  padding: 27%;
  background-color: #f4f0ec;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* HOME EXPERIENCE */

.home-experience {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f4f0ec;
  padding: 5% 15%;
  margin: 5% auto 7% auto;
  font-family: 'Jost';
}

.home-experience > div {
  text-align: center;
  margin: 0 3vmin;
}

.home-experience > div > .num {
  font-family: 'Dm Serif Display';
  font-size: 45px;
  margin: 0;
  color: #cda274;
  margin-inline: 2vmin;
}

.h-s-project {
  padding-inline: 4vmin;
  border-right: 1px solid #cda274;
  border-left: 1px solid #cda274;
}
