.swiper {
  width: 100%;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100vmin !important;
  height: 70vmin !important;
  user-select: none;
}
.swiper-slide > div {
  display: flex;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide > div > div {
  color: white;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  backdrop-filter: blur(4px);
  width: 100%;
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--primary);
}
.swiper-slide > div > div:hover {
  color: var(--dark);
  cursor: pointer;
  box-shadow: inset 100vmin 0 0 0 var(--primary);
}
.swiper-slide > div > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.fullPageCont {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  padding: 0 5vmin;
  overflow: hidden;
  background: antiquewhite;
}
.buttonNext {
  cursor: pointer;
  height: 10vmin;
  color: var(--primary);
  width: 10vmin;
  z-index: 999999;
  position: absolute;
  top: 40%;
  left: 90%;
}
.buttonPrev {
  cursor: pointer;
  height: 10vmin;
  color: var(--primary);
  width: 10vmin;
  z-index: 999999;
  position: absolute;
  top: 40%;
  left: 0%;
}
